#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Name=IB Gateway (live mode)
Exec=/bin/bash /opt/IBController/Scripts/IBController.sh 962 -g --mode=live
Icon=/usr/share/icons/Adwaita/22x22/emblems/emblem-important.png
Categories=Application;
Comment=
Path=
Terminal=true
StartupNotify=false
